@import "/src/assets/styles/variables";

.news {
  margin-top: 100px;
  position: relative;
  border: 1px solid red;
  padding: 10px 10px 30px 10px;
  text-align: center;
  border-radius: 20px;
  &__top {
    // display: flex;
  }
  &__title {
    // margin-top: 25px;
  }
  &__link {
    display: inline-block;
    margin-bottom: 20px;
    &:hover {
      color: blueviolet;
      transition: $transition;
      text-decoration: underline;
    }
  }
  &__infoRate,
  &__infoAuthor {
    margin-right: 10px;
  }
}

// .arrowBtn {
//   position: absolute;
//   top: 0;
//   left: 0;
// }
