@import 'normalize.css';
@import './variables.scss';

html[data-theme='dark'] {
  body {
    transition: $transition;
    background-color: $background-dark-theme;
    color: $text-dark-theme;
    h1 {
      color: $text-header-dark-theme;
    }
    header {
      span {
        color: $text-header-dark-theme;
      }
    }
  }
}

html[data-theme='light'] {
  body {
    transition: $transition;
    background-color: $background-light-theme;
    color: $text-light-theme;
    h1 {
      color: $background-light-theme;
    }
    header {
      span {
        color: $background-light-theme;
      }
    }
  }
}

body {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
