@import "/src/assets/styles/variables";

.news {
  &__title {
    @include adaptive-font(25, 18);
    &:hover {
      transition: $transition;
      color: rgba(195, 0, 255, 0.556);
    }
  }
  &__info {
    display: flex;
    gap: 15px;
    @include adaptive-font(18, 10);
  }

  &__infoAuthor {
    display: flex;
    gap: 8px;
  }
  &__infoSpan {
    &:hover {
      color: red;
      transition: $transition;
      cursor: pointer;
    }
  }
  &__infoRate,
  &__blockDate,
  &__link {
    &:hover {
      transition: $transition;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
