@import "/src/assets/styles/variables";

.news {
  counter-increment: news;
  position: relative;
  padding-left: 45px;
  margin-bottom: 20px;
  &:before {
    position: absolute;
    content: counter(news) ".";
    top: 27px;
    left: 0;
  }

  &__top {
    display: flex;
    align-items: baseline;
    gap: 20px;
    font-size: 20px;
  }
  &__title {
    font-size: 25px;
    &:hover {
      transition: $transition;
      color: rgba(195, 0, 255, 0.556);
    }
  }
  &__info {
    display: flex;
    gap: 15px;
  }

  &__infoAuthor {
    display: flex;
    gap: 8px;
  }
  &__infoSpan {
    &:hover {
      color: red;
      transition: $transition;
      cursor: pointer;
    }
  }
  &__infoRate,
  &__blockDate,
  &__link {
    &:hover {
      transition: $transition;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
